@import 'general/_config';
@import 'general/_breakpoint';
@import 'sprite-mobile';
@import 'components/helpers';

html {

	body {

		&.sucesso{
			.x-content{
				.x-contact-top{
					display: none;
				}
				.x-contact-bottom{
					.x-contact-bottom__form{
						display: none;
					}
					.x-contact-bottom__success{
						float: left;
						width: 100%;
						padding-top: 60px;
						display: block !important;

						&:after {
							background-color: #ff5000;
							content: '';
							max-width: 50%;
							width: 1000px;
							height: 100%;
							right: 0;
							position: absolute;
							z-index: -2;
							top: 0;
						}
						&--header{
							float: left;
							width: 100%;
							padding-top: 20px;
							padding-left: 10px;

							h2 {
								font-size: 32px;
								letter-spacing: 1px;
								color: #000;
								text-transform: uppercase;
								margin-bottom: 10px;
								line-height: 1;
								font-weight: bold;
								font-style: italic;
								padding: 0 10px;
								margin-bottom: 10px;
							}
						}
						p{
							font-size: 18px;
							color: #000000;
							line-height: 1.4;
							margin-bottom: 10px;
							display: block;
							text-align: center;
							a{
								display: block;
								color: #000000;
								font-family: $fontSupport;
							}
						}
					}
				}
			}
		}

		.x-general {
			font-family: $font;

			p {
				font-weight: 500;
			}

			.x-content {

				.x-contact-top {
					float: left;
					width: 100%;

					.x-center{
						float: left;
						width: 100%;
						padding: 0 3%;
					}
					
					&__left {
						float: left;
						width: 100%;
					}

					&__right{
						float: right;
						width: 33%;

						.box-banner {
							margin-top: 38px;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}

					&__header{
						float: left;
						width: 100%;
						padding-top: 20px;
						padding-left: 10px;

						h2 {
							font-size: 32px;
							letter-spacing: 1px;
							color: #000;
							text-transform: uppercase;
							margin-bottom: 10px;
							line-height: 1;
							font-weight: bold;
							font-style: italic;
							padding: 0 10px;
							margin-bottom: 10px;
						}
					}

					&__content{
						float: left;
						width: 100%;
						margin-bottom: 40px;

						h3 {
							font-size: 20px;
							color: #FF5000;
							margin-bottom: 20px;
							font-weight: bold;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
						}

						.e-text {
							p {
								font-size: 14px;
								line-height: 1.2;
								margin-bottom: 20px;
							}
						}
					}
				}
				.x-contact-bottom{
					float: left;
					width: 100%;

					.x-center{
						float: left;
						width: 100%;
						margin: 0;
						padding: 0 3%;
						position: relative;
					}

					&__form{
						float: left;
						width: 100%;
						padding-top: 60px;

						&:after {
							background-color: #ff5000;
							content: '';
							max-width: 50%;
							width: 1000px;
							height: 100%;
							right: 0;
							position: absolute;
							z-index: -2;
							top: 0;
						}

						&--header{
							h2 {
								font-size: 30px;
								margin-bottom: 10px;
								font-weight: bold;
								text-transform: uppercase;
							}

							p {
								font-size: 14px;
								line-height: 1.2;
								margin-bottom: 20px;
							}
						}
						.x-form{
							float: left;
							width: 100%;
							
							ul {
								position: relative;
								float: left;
								width: 100%;

								&:first-child {

									li {
										//width: calc(50% - 7.5px);
									}
								}

								li{
									float: left;
									margin-right: 15px;
									width: 100%;
									outline: none;

									&:last-child {
										margin-right: 0;
									}
									
									input, select{
										height: 40px;
										-webkit-appearance: none;
										border: 3px solid #000;
										border-radius: 50px;
										padding: 0 15px;
										width: 100%;
										text-transform: uppercase;
										background: $colorWhite;

										&::placeholder {
											color: #000;
											fill: #000;
										}

										&:placeholder {
											color: #000;
											fill: #000;
										}
									}
									
									textarea{
										-webkit-appearance: none;
										border: 3px solid #000;
										border-radius: 40px;
										min-width: 100%;
										min-height: 140px;
										max-width: 100%;
										max-height: 140px;
										text-transform: uppercase;
										padding: 20px 15px;
										background: $colorWhite;
										outline: none;
									}

									.x-submit{
										float: right;
										bottom: 32px;
										width: 85px;
										height: 40px;
										border-radius: 20px;
										border: 3px solid #000;
										background: #fff;

										svg {
											max-width: 100%;
											height: 69%;
											float: right;
											margin-right: 15px;	
										}
									}
								}
							}
						}
					}
				}

				.x-politicas-top {
					float: left;
					width: 100%;

					.x-center{
						float: left;
						width: 100%;
						padding: 0 3%;
					}
					
					&__left{
						float: left;
						width: 100%;

					}
					&__right{
						float: right;
						width: 100%;

						.box-banner {
							margin-top: 38px;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}

					&__header{
						float: left;
						width: 100%;
						padding-top: 20px;
						padding-left: 10px;

						h2 {
							font-size: 32px;
							letter-spacing: 1px;
							color: #000;
							text-transform: uppercase;
							margin-bottom: 10px;
							line-height: 1;
							font-weight: bold;
							font-style: italic;
						}
					}

					&__content{
						float: left;
						width: 100%;
						margin-bottom: 70px;

						h3 {
							font-size: 20px;
							color: #FF5000;
							margin-bottom: 20px;
							font-weight: bold;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
						}

						ul {
							margin-bottom: 20px;
							
							li {
								margin-bottom:  10px;
								
								&:before {
									content:  '';
									background-color:  #000;
									height: 5px;
									width: 5px;
									display:  inline-block;
									border-radius:  100%;
									position:  relative;
									top: -4px;
									margin-right: 10px;
								}
							}
						}

						.e-text {
							
							p {
								font-size: 14px;
								line-height: 1.2;
								margin-bottom: 20px;
							}
						}
					}
				}

				.x-selo-top{
					float: left;
					width: 100%;
					margin-bottom: 40px;

					.x-center{
						float: left;
						width: 100%;
						padding: 0 3%;
					}
					
					&__left{
						float: left;
						width: 100%;
					}
					&__right{
						float: right;
						width: 100%;

						.box-banner {
							margin-top: 40px;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}

					&__header{
						float: left;
						width: 100%;
						padding-top: 20px;
						padding-left: 10px;

						h2 {
							font-size: 32px;
							letter-spacing: 1px;
							color: #000;
							text-transform: uppercase;
							margin-bottom: 10px;
							line-height: 1;
							font-weight: bold;
							font-style: italic;
						}
					}

					&__content{
						float: left;
						width: 100%;

						h3 {
							font-size: 20px;
							color: #FF5000;
							margin-bottom: 20px;
							font-weight: bold;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
						}

						.e-text {
							
							p {
								font-size: 14px;
								line-height: 1.4;
								margin-bottom: 20px;
								padding-left: 0;
							}
						}
					}
				}

				.x-selo-middle{
					background: #ff5000;
					float: left;
					width: 100%;

					.x-center{}
					
					&__banners{
						float: left;
						width: 100%;

						img {
							width: 100%;
							height: auto;
							display: block;
							background-color: #fff;
						}
					}
					
					&__content{
						float: left;
						width: 100%;
						padding: 80px 7% 30px;
						color: #fff;

						h3 {
							font-size: 30px;
							color: #000;
							margin-bottom: 20px;
							font-weight: bold;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
						}

						p {
							font-size: 14px;
							line-height: 1.4;
							margin-bottom: 20px;
						}

					}
				}

				.x-sobre-top{
					float: left;
					width: 100%;

					.x-center{
						float: left;
						width: 100%;
						padding: 0 3%;
					}
					
					&__left{
						float: left;
						width: 100%;
					}
					&__right{
						float: right;
						width: 100%;

						.box-banner {
							margin-top: 38px;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}

					&__header{
						float: left;
						width: 100%;
						padding-top: 20px;

						h2 {
							font-size: 32px;
							letter-spacing: 1px;
							color: #000;
							text-transform: uppercase;
							margin-bottom: 10px;
							line-height: 1;
							font-weight: bold;
							font-style: italic;
						}
					}

					&__content{
						float: left;
						width: 100%;

						h3 {
							font-size: 20px;
							color: #FF5000;
							margin-bottom: 20px;
							font-weight: bold;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
						}

						.e-text {
							margin-bottom: 130px;
							
							p {
								font-size: 14px;
								line-height: 1.2;
								margin-bottom: 20px;
							}
						}
					}
				}

				.x-sobre-middle{
					float: left;
					width: 100%;
					background-color: #000;
					position: relative;

					&:after {
						content: '';
						width: 100%;
						position: absolute;
						bottom: -140px;
						height: 200px;
						background: #000000;
						left: 0;
						z-index: -1;
					}

					.x-center{
						float: left;
						width: 100%;
						margin: 0;
					}

					&__banners {
						float: left;
						width: 100%;
						margin-bottom: 9vw;

						.box-banner {
							float: left;
							width: 46%;
							margin: 9vw 4% 0 0;

							&:nth-child(2n) {
								margin-left: 4%;
								margin-right: 0;
							}

							img {
								width: 100%;
								height: auto;
								display: block;
							}

						}
					}

					&__content{
						float: right;
						width: 100%;
						padding: 0 6% 130px;
						color: #fff;

						h3 {
							font-size: 30px;
							color: #FF5000;
							margin-bottom: 20px;
							font-weight: bold;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
						}

						p {
							font-size: 14px;
							line-height: 1.4;
							margin-bottom: 20px;
						}

					}
				}

				.x-sobre-bottom {
					float: left;
					width: 100%;
					background: #ff5000;
					
					.x-center{}
					
					&__banner{
						float: left;
						width: 100%;
						position: relative;
						z-index: 1;

						&:after {
							content: '';
							background-color: #000;
							height: 200px;
							width: 100%;
							display: block;
							position: absolute;
							top: -1px;
							z-index: -1;
						}

						img {
							width: 100%;
							height: auto;
							display: block;
						}
					}

					&__content{
						float: right;
						width: 100%;
						padding: 110px 10% 130px 50px;
						
						p {
							font-size: 14px;
							line-height: 1.4;
							margin-bottom: 20px;
						}
					}
				}
			}
		}

		.form-wrap {
			.form-list {
				li {
					position: relative;
					margin-bottom: 10px;
				}	
			}

			.form-textarea .form-error {
				top: 60px;
			}

			.form-error {
				opacity: 0;
				font-size: 12px;
				position: absolute;
				top: 0;
				z-index: -1;
				background: #000;
				color: #fff;
				padding: 5px 10px;
				padding-top: 0px;
				white-space: nowrap;
				border-radius: 20px;
				transition: all 0.5s;
				width: 100%;
				height: 58px;
				display: flex;
				align-items: flex-end;
			}
		
			.has-error {
				margin-bottom: 28px !important;

				&.form-textarea .form-error {
					top: 100px;
				}

				.form-error { 
					opacity: 1;
				}
			}
			
			.is-not-selected { 
				color: #999;

				option {
					color: #000;
				}
			} 
		}
	}
}