@import 'general/_config';
@import 'general/_reset';
@import 'general/_initialize';
@import 'general/_breakpoint';
@import 'sprite-mobile';
@import 'partials/_header-mobile';
@import 'partials/_footer-mobile';
@import 'partials/vitrines-mobile';

@import 'components/_login';
@import 'components/_newsletter-mobile';

html{

	box-sizing: border-box;
	max-width: 100%;
	overflow-x: hidden !important;

	&.is--fixed{
		position: fixed; 
		overflow-y: scroll;
		width: 100%;
	}

	body{

		&.is--loading{
			&:before{
				content: '';
				position: fixed;
				background: url(/arquivos/ajax-loader.gif) no-repeat center top 50% rgba(60, 60, 60, 0.5490196078431373);
				height: 100%;
				top: 0;
				width: 100%;
				left: 0;
				z-index: 9999;
				transition: all ease-in-out .3s;
			}
		}

		.x-hide{
			display: none !important;
		}

		.x-general{
			position: relative;
			float: left;
			width: 100%;
			overflow: hidden;
			font-family: $font;
			padding-top: 77px;
			@include transition(ease all 0.2s);
			.x-content{
				float: left;
				width: 100%;
				position: relative;
				.slick-list{
					*{
						outline: 0;
					}
				}
			}
			.x-hide{
				display: none !important;
			}

			&.is--close-benefits {
				padding-top: 45px;
				.x-minicart {
					top: 45px;
				}
				.x-content {
					.x-departamento-content__filters {
						top: 45px;
					}
				}
				.x-content {
					.x-departamento-content__orderby {
						top: 45px;
					}
				}
			}
		}
		#ajaxBusy{
			display: none !important;
		}
	}
}

.x-main-body__results--contato {
	display: none !important;
}