@import 'general/_config';
@import 'general/_breakpoint';
@import 'sprite';
@import 'components/helpers';

html {

	body {

		.x-general {

        }

    }

}


// width: 39%;
// display: inline-block;
// vertical-align: middle;
// border: 3px solid $colorBlack;
// height: 40px;
// padding: 10px;
// border-radius: 20px;
// margin-right: 2%;
// font-family: $fontSupport;
// font-size: 16px;
// text-transform: uppercase;
// background-color: $colorMain;