@import 'general/_config';
@import 'general/_reset';
@import 'general/_initialize';
@import 'general/_breakpoint';
@import 'sprite';
@import 'partials/_header';
@import 'partials/_footer';
@import 'partials/_vitrines';

@import 'components/_login';
@import 'components/_newsletter';

html{

	box-sizing: border-box;
	max-width: 100%;
	overflow-x: hidden !important;

	body{

		&.is--loading{
			&:before{
				content: '';
				position: fixed;
				background: url(/arquivos/ajax-loader.gif) no-repeat center top 50% rgba(60, 60, 60, 0.5490196078431373);
				height: 100%;
				top: 0;
				width: 100%;
				left: 0;
				z-index: 9999;
				transition: all ease-in-out .3s;
			}
		}

		.x-hide{
			display: none !important;
		}

		.e-general{
			font-family: $font;
			.e-content{
				.slick-list{
					*{
						outline: 0;
					}
				}

			}
			.e-hide{
				display: none !important;
			}
		}
		#ajaxBusy{
			display: none !important;
		}
	}
}

.x-main-body__results--contato {
	display: none !important;
}