@import 'general/_config';
@import 'general/_breakpoint';
@import 'sprite';
@import 'components/helpers';

html {

	body {

		&.sucesso{
			.x-contact-bottom{
				.x-center{
					display: flex;
					align-items: center;
					width: 100%;
					.x-contact-bottom__form{
						display: none;
					}
					.x-contact-bottom__success{
						display: block !important;
						float: left;
						width: 50%;
						position: relative;
						padding-top: 60px;
						padding-bottom: 60px;
						p{
							font-size: 18px;
							color: #000000;
							line-height: 1.4;
							margin-bottom: 10px;
							a{
								display: block;
								color: #000000;
								font-family: $fontSupport;
							}
						}
						&:after {
							background-color: #ff5000;
							content: '';
							max-width: calc(100% - 50px);
							width: 1000px;
							height: 100%;
							right: 0;
							position: absolute;
							z-index: -1;
							top: 0;
						}
						&--header{
							h2 {
								font-size: 30px;
								margin-bottom: 30px;
								font-weight: bold;
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}

		.x-general {
			font-family: $font;

			p {
				font-weight: 500;
			}

			.x-content {

				.x-contact-top {
					float: left;
					width: 100%;

					.x-center{
						float: left;
						width: 85%;
						margin: auto 5% auto 10%;
					}
					
					&__left {
						float: left;
						width: 100%;
					}
					
					&__right{
						float: right;
						width: 33%;

						.box-banner {
							margin-top: 38px;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}

					&__header{
						float: left;
						width: 100%;
						padding-top: 20px;

						h2 {
							font-size: 42px;
							letter-spacing: 1px;
							color: #000;
							text-transform: uppercase;
							margin-bottom: 10px;
							line-height: 1.2;
							font-weight: bold;
							font-style: italic;
						}
					}

					&__content{
						float: left;
						width: 100%;

						h3 {
							font-size: 30px;
							color: #FF5000;
							margin-bottom: 20px;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: bold;
						}

						.e-text {
							
							p {
								font-size: 14px;
								line-height: 1.2;
								margin-bottom: 20px;
							}
						}
					}
				}
				.x-contact-bottom{
					float: left;
					width: 100%;

					.x-center{
						float: left;
						width: 90%;
						margin: 0 5%;
					}

					&__banner{
						float: left;
						width: 50%;

						img {
							width: 100%;
							height: auto;
							display: block;
						}
					}

					&__form{
						float: left;
						width: 50%;
						position: relative;
						padding-top: 60px;

						&:after {
							background-color: #ff5000;
							content: '';
							max-width: calc(100% - 50px);
							width: 1000px;
							height: 100%;
							right: 0;
							position: absolute;
							z-index: -1;
							top: 0;
						}

						&--header{
							h2 {
								font-size: 30px;
								margin-bottom: 10px;
								font-weight: bold;
								text-transform: uppercase;
							}

							p {
								font-size: 14px;
								line-height: 1.2;
								margin-bottom: 20px;
							}
						}
						.x-form{
							float: left;
							width: 65%;
							
							ul {
								position: relative;
								float: left;
								width: 100%;

								&:first-child {

									li {
										//width: calc(50% - 7.5px);
									}
								}

								&:last-child li:last-child {
									text-align: right;
								}

								li{
									float: left;
									margin-right: 15px;
									margin-bottom: 15px;
									width: 100%;
									outline: none;

									&:last-child {
										margin-right: 0;
									}
									
									input, select{
										height: 40px;
										-webkit-appearance: none;
										border: 3px solid #000;
										border-radius: 50px;
										padding: 0 15px;
										width: 100%;
										text-transform: uppercase;
										background: $colorWhite;
										font-family: $fontSupport;

										&::placeholder {
											color: #000;
											fill: #000;
										}

										&:placeholder {
											color: #000;
											fill: #000;
										}
									}
									
									textarea{
										-webkit-appearance: none;
										border: 3px solid #000;
										border-radius: 40px;
										min-width: 100%;
										min-height: 140px;
										max-width: 100%;
										max-height: 140px;
										text-transform: uppercase;
										padding: 20px 15px;
										background: $colorWhite;
										outline: none;
										font-family: $fontSupport;
									}

									.x-submit{
										width: 65px;
										height: 40px;
										border-radius: 20px;
										border: 3px solid #000;
										background: $colorWhite;

										svg {
											max-width: 100%;
											height: 69%;
											float: right;
											margin-right: 15px;	
										}
									}
								}
							}
						}
					}
				}

				.x-politicas-top {
					float: left;
					width: 100%;

					.x-center{
						float: left;
						width: 80%;
						margin: auto 10%;
					}
					
					&__left{
						float: left;
						width: 67%;
					}
					&__right{
						float: right;
						width: 33%;

						.box-banner {
							margin-top: 38px;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}

					&__header{
						float: left;
						width: 100%;
						padding-top: 20px;

						h2 {
							font-size: 42px;
							letter-spacing: 1px;
							color: #000;
							text-transform: uppercase;
							margin-bottom: 10px;
							line-height: 1.2;
							font-weight: bold;
							font-style: italic;
						}
					}

					&__content{
						float: left;
						width: 100%;
						padding-right: 13%;

						h3 {
							font-size: 30px;
							color: #FF5000;
							margin-bottom: 20px;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: bold;
						}

						ul {
							margin-bottom: 20px;
							
							li {
								margin-bottom:  10px;
								
								&:before {
									content:  '';
									background-color:  #000;
									height: 5px;
									width: 5px;
									display:  inline-block;
									border-radius:  100%;
									position:  relative;
									top: -4px;
									margin-right: 10px;
								}
							}
						}

						.e-text {
							
							p {
								font-size: 14px;
								line-height: 1.2;
								margin-bottom: 20px;
							}
						}
					}
				}

				.x-selo-top{
					float: left;
					width: 100%;
					margin-bottom: 40px;

					.x-center{
						float: left;
						width: 85%;
						margin: auto 5% 0 10%;
					}
					
					&__left{
						float: left;
						width: 67%;
					}
					&__right{
						float: right;
						width: 33%;

						.box-banner {
							margin-top: 40px;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}

					&__header{
						float: left;
						width: 100%;
						padding-top: 20px;

						h2 {
							font-size: 42px;
							letter-spacing: 1px;
							color: #000;
							text-transform: uppercase;
							margin-bottom: 10px;
							line-height: 1.2;
							font-weight: bold;
							font-style: italic;
						}
					}

					&__content{
						float: left;
						width: 100%;
						padding-right: 25%;

						h3 {
							font-size: 30px;
							color: #FF5000;
							margin-bottom: 20px;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: bold;
						}

						.e-text {
							
							p {
								font-size: 14px;
								line-height: 1.4;
								margin-bottom: 20px;
								padding-left: 0;
							}
						}
					}
				}

				.x-selo-middle{
					background: #ff5000;
					float: left;
					width: 100%;

					.x-center{}
					
					&__banners{
						float: left;
						width: 40%;

						img {
							width: 100%;
							height: auto;
							display: block;
							background-color: #fff;
						}
					}
					
					&__content{
						float: right;
						width: 60%;
						padding: 80px 7% 30px;
						color: #fff;

						h3 {
							font-size: 30px;
							color: #000;
							margin-bottom: 20px;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: bold;
						}

						p {
							font-size: 14px;
							line-height: 1.4;
							margin-bottom: 20px;
						}

					}
				}

				.x-sobre-top{
					float: left;
					width: 100%;

					.x-center{
						float: left;
						width: 80%;
						margin: auto 10%;
					}
					
					&__left{
						float: left;
						width: 67%;
					}
					&__right{
						float: right;
						width: 33%;

						.box-banner {
							margin-top: 38px;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}

					&__header{
						float: left;
						width: 100%;
						padding-top: 20px;

						h2 {
							font-size: 42px;
							letter-spacing: 1px;
							color: #000;
							text-transform: uppercase;
							margin-bottom: 10px;
							line-height: 1.2;
							font-weight: bold;
							font-style: italic;
						}
					}

					&__content{
						float: left;
						width: 100%;
						padding-right: 13%;

						h3 {
							font-size: 30px;
							color: #FF5000;
							margin-bottom: 20px;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: bold;
						}

						.e-text {
							
							p {
								font-size: 14px;
								line-height: 1.2;
								margin-bottom: 20px;
							}
						}
					}
				}

				.x-sobre-middle{
					float: left;
					width: 100%;
					background-color: #000;
					position: relative;

					&:after {
						content: '';
						width: 100%;
						position: absolute;
						bottom: -140px;
						height: 200px;
						background: #000000;
						left: 0;
						z-index: -1;
					}

					.x-center{
						float: left;
						width: 80%;
						margin: 0 calc(10% + 25px) 25px calc(10% - 25px);
					}

					&__banners {
						float: left;
						width: 58%;

						.box-banner {
							float: left;
							width: calc(50% - 50px);
							margin: 40px 25px 0;

							img {
								width: 100%;
								height: auto;
								display: block;
							}

						}
					}

					&__content{
						float: right;
						width: 42%;
						padding: 80px 0 0 50px;
						color: #fff;

						h3 {
							font-size: 30px;
							color: #FF5000;
							margin-bottom: 20px;
							font-family: $fontSupport;
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: bold;
						}

						p {
							font-size: 14px;
							line-height: 1.4;
							margin-bottom: 20px;
							padding-left: 20px;
						}

					}
				}

				.x-sobre-bottom {
					float: left;
					width: 100%;

					&:after {
						content: '';
						clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
						background: #FF5000;
						position: relative;
						width: 100%;
						z-index: -1;
						display: block;
						height: 470px;
					}
					
					.x-center{}
					
					&__banner{
						float: left;
						width: 36%;

						img {
							width: 100%;
							height: auto;
							display: block;
						}
					}

					&__content{
						float: right;
						width: 64%;
						padding: 110px 10% 0 50px;
						
						p {
							font-size: 14px;
							line-height: 1.4;
							margin-bottom: 20px;
						}
					}
				}
			}
		}

		.form-wrap {
			.form-list {
				li {
					position: relative;
				}	
			}

			.form-error {
				opacity: 0;
				font-size: 12px;
				position: absolute;
				top: 10px;
				left: 94%;
				background: #000;
				color: #fff;
				padding: 5px 10px;
				white-space: nowrap; 
				border-radius: 15px;
				transition: all 0.5s;
			}
		
			.has-error .form-error {
				opacity: 1;
			}
			
			.is-not-selected { 
				color: #999;

				option {
					color: #000;
				}
			} 
		}
	}
}