//FONTS
$font: 'Trade Gothic LT Std', sans-serif;
$fontSupport: 'Trade Gothic LT Std Condensed', sans-serif;
$fontCondensed: 'Trade Gothic LT Std Condensed Normal', sans-serif;

//COLORS
$colorMain: #FF5000;
$colorBlack: #000000;
$colorWhite: #FFFFFF; 

// MEDIA QUERIES
$screen-media: "only screen and (min-width : 768px)";
$phone-media: "only screen and (max-width : 767px)";

@mixin minMax($carousel) {

	@if $carousel == 'produtos' {

		$crslHeightMin:304px; 
		$crslHeightMax:470px;

		min-height: $crslHeightMin;
		max-height: $crslHeightMax;

	} @else {
		$crslHeightMin:150px;
		$crslHeightMax:auto;

		min-height: $crslHeightMin;
		max-height: $crslHeightMax;
	}		
}

@mixin categoryImage() {

	$crslHeightMin:304px;
	max-height: $crslHeightMin;	
}

// GRID 
$gutter: 20px;

// STATES
.is-invisible {
    visibility: hidden !important;
}

.is-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.is-full-width {
    display: block;
    width: 100%;
    height: auto;
}

.is-hide {
	display: none !important;
}

.is-hide-lg {
	@media #{$screen-media} {
		display: none !important;
	}
}

.is-hide-sm {
	@media #{$phone-media} {
		display: none !important; 
	}
}

.is-max-width {
	position: relative;
	max-width: 1024px;
    margin: 0 auto;
}

// UTILITIES



// TEMPLATE
main {
	clear: both;
	background: #fff;
}

.hs {

	* {
		box-sizing: border-box;
		transition: all .2s;
	}

	p {
		line-height: 18px;
		font-weight: normal;
		font-size: 14px;
		margin-bottom: 10px;
	}

	.-target {
		color: $colorMain;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.box:before,
	.box:after,
	{
	  display: table;
	  content: " ";
	}
	
	.box:after  
	{
	  clear: both;
	} 

	.box {
		position: relative;
		width: 100%;
		padding: $gutter;

		&.--full {
			padding: 0;
		}

		&.mod-bg-black {
			background: #000;
		}

		&.mod-bg-gray-dark {
			background: #252525;
		}

		&.mod-bg-gray-medium {
			background: #363636;
		}

		&.--clip {
			position: relative;
			top: 1px;
			clip-path: polygon(20% 81%, 100% 0%, 100% 100%, 0% 100%);

			&-top {
				top: -1px;
				clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 100% 0%);
			}
		}
	}

	.-title {
		display: inline;
		background: $colorMain;	
		padding: 10px 18px 10px 10px;
		font-size: 36px;
		font-weight: bold;
		font-style: italic;
		letter-spacing: -4px;
		color: $colorBlack;
	}

	.subtitle {
		font-size: 36px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-style: italic;

		.-divider {
			font-weight: normal;	
			margin-right: 10px;
		}

		.-orange {
			color: $colorMain;	
		}
	}

	.col-one {
		background: #2e2e2e;
		color: #fff;

		@media #{$screen-media} {
		}

		.banner-top {
			position: relative;
			margin-bottom: 86px;
	
			.box {
				position: absolute;
				bottom: -70px;
				z-index: 1;
				background: transparent;
				padding-top: 0;
				padding-bottom: 0;
				
				@media #{$screen-media} {
					top: -180px;
					bottom: unset;
				}

			}
		}
	
		.top-list {
			.-item {
				display: inline-block;
				margin-bottom: 20px;
				margin-right: 10px;
	
				&:nth-child(1) {
					display: block;
					margin-bottom: 29px;
				
				}
	
				&:nth-child(5) {
					display: block;
					margin-bottom: 0;
				}
			}
		}
	}

	.col-two {
		height: 1000px;
		background: #fff;
		
	}

	&.hs-m12 {

		@media #{$screen-media} {
			padding-bottom: 40px;
		}

		.m12-info {
			display: flex;
			
			@media #{$screen-media} {
				margin-top: -156px;
				padding-bottom: 80px;
			}

			.-btn-produtos {
				display: inline-block;
				margin-bottom: $gutter;
			}

			.-m12-photo {
				margin-right: $gutter;

				&-image {
					min-width: 274px;
				}
			}

			.-logo {
				margin: 30px 0 20px;

				@media #{$screen-media} {
					margin: $gutter/2 0 0;
				}
			} 

			.-texto {
				overflow: hidden; 
				// max-height: 82px; 

				// @media #{$screen-media} {
				// 	max-height: 5000px;
				// }
				
				// &.--open {
				// 	max-height: 1000px;
				// }
			}
		}

		.info-chinelo { 
			$hsM12-color3: #a7a7a7;
			color: $hsM12-color3;

			@media #{$screen-media} {
				padding-bottom: 0;

				.is-max-width {
					display: flex;
    				align-items: center;
				}
			}			
			
			.-image {
				margin-bottom: 30px;
				
				img {
					margin: 0 auto;

					@media #{$screen-media} {
						margin-top: -80px;
					}						
				}
			}

			.-list {
				padding-left: 20px;
				counter-reset: myOrderedListItemsCounter;

				.-item {
					font-weight: bold;
					font-style: italic;
					margin-bottom: 15px;

					&:before {
						content: ' ';
						display: inline-block;
						width: 20px;
						height: 20px;
						border-radius: 50px;
						background: #fff;
						counter-increment: myOrderedListItemsCounter;
						content: counter(myOrderedListItemsCounter)".";
						margin-right: 10px;
						position: relative;
						padding: 2px 0 0 4px;
						color: $colorBlack;
					}

					margin-bottom: 15px;
					
				}
			}
		}

		.vitrine-produtos, .videos-box {
			@media #{$screen-media} {
				margin-bottom: 0px;

				.is-max-width {
					padding-bottom: 52px;
				}
			}
		}

		.vitrine-produtos {
			@media #{$screen-media} {

				.-wrap {
					display: flex;
				}

				.-image {
					margin-right: $gutter;
	
					img {
						display: inline-block;
						height: 100%;
					}
				}
			}
		}

		.videos-box {
			margin-bottom: 80px;

			@media #{$screen-media} {
				margin-bottom: 0px;
			}
		}

		.m12-box {
			padding-bottom: 175px;

			.-wrap {
				width: 272px;
				height: 316px;
				position: absolute;
				top: -163px;
				left: 50%;
				margin-left: -136px;
			}

			.-image {
				position: absolute;

				&.--i1 {
					top: 0;
				}

				&.--i2 {
					bottom: 0;
					right: 0;
				}
			}
		}

		.vejamais-box {
			color: $colorWhite;
			@extend .mod-bg-gray-medium;

			@media #{$screen-media} {
				background: $colorWhite !important;
				color: $colorBlack;
			}

			
			.-images {
				display: flex;

				a {
					margin-right: 10px;

					@media #{$screen-media} {
						margin-right: 40px;
					}
				}
			} 
		}
	}

	@mixin carouselProdutos {
		width: 100%;
		@include minMax('produtos');

		// SLICK
		.slick-list {
			padding-right: 40px;
			@include minMax('produtos');
		}

		.slick-slide {
			float: left;
			display: block; 
			margin-right: 20px;
			border: #cacaca solid 1px;
			@include minMax('produtos');

			&:last-of-type {
				margin-right: 0;
			}

			a {
				color: #000;
			}
		}
		
		.x-product {
			
		}

		.x-wishlist {
			display: none;
		}

		.x-image{
			width: 100%;
			position: relative;
			margin-bottom: 20px;
			overflow: hidden; 
			a{
				display: block;
				width: 100%;
				mix-blend-mode: multiply;
				background: #fff;
				img{
					mix-blend-mode: multiply;
					width: 100%;
					height: auto;
					display: block;
					transition: all ease-in-out .3s;
				}
			}
		}
		.x-group{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 10px;
			font-weight: bold;
			line-height: 1.4;

			.x-outOfStock{
				font-size: 14px;
				display: block;
				width: 100%;
				text-align: center;
				font-family: $fontSupport;
				text-transform: uppercase;
				a{
					color: $colorMain;
				}
			}

			.x-name {
				width: 50%;
				border-right: 2px solid $colorMain;

				.x-category {
					display: none;
				}
			}

			.x-price{
				width: 50%;
				text-align: right;

				a{
					.x-bestPrice{
						display: block;
					}
				}
			}

			.x-add {
				display: none;
			}
		}
	}

	@mixin carouselVideos {
		width: 100%;
		@include minMax('videos');

		// SLICK
		.slick-list {
			padding-right: 40px;
			@include minMax('videos');
		}

		.slick-slide {
			float: left;
			display: block; 
			margin-right: 20px;
			@include minMax('videos');

			&:last-of-type {
				margin-right: 0;
			}

			a {
				color: #000;
			}
		}
		
	}

	.carousel-wrap {
		overflow: hidden;

		.prateleira > h2 {
			display: none;
		}

		.slick {

			&-track {
				display: flex;
			}

			&-slide {
				opacity: 0.3;
			}

			&-active {
				opacity: 1;
			}
			
			&-arrow {
				position: absolute;
				bottom: 0px;
				width: 42px;
				height: 42px;
				border-radius: 100%;
				border: 2px solid #000;
				font-size: 0;
				cursor: pointer;
				transition: all linear .3s;
			}

			&-prev {
				background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNi4zIDIzIj4gIDxkZWZzPiAgICA8c3R5bGU+ICAgICAgLmNscy0xIHsgICAgICAgIGZpbGw6IG5vbmU7ICAgICAgICBzdHJva2U6ICMwMDA7ICAgICAgICBzdHJva2UtbGluZWNhcDogcm91bmQ7ICAgICAgICBzdHJva2UtbGluZWpvaW46IHJvdW5kOyAgICAgICAgc3Ryb2tlLW1pdGVybGltaXQ6IDEwOyAgICAgICAgc3Ryb2tlLXdpZHRoOiAzcHg7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPGcgaWQ9Ikdyb3VwXzI4MTUiIGRhdGEtbmFtZT0iR3JvdXAgMjgxNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM2MC45IC0xMSkiPiAgICA8ZyBpZD0iR3JvdXBfMjgxNCIgZGF0YS1uYW1lPSJHcm91cCAyODE0Ij4gICAgICA8ZyBpZD0iR3JvdXBfMjgxMyIgZGF0YS1uYW1lPSJHcm91cCAyODEzIj4gICAgICAgIDxsaW5lIGlkPSJMaW5lXzE2IiBkYXRhLW5hbWU9IkxpbmUgMTYiIGNsYXNzPSJjbHMtMSIgeDI9IjIzLjMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM2Mi40IDIyLjUpIi8+ICAgICAgPC9nPiAgICAgIDxwYXRoIGlkPSJQYXRoXzE4OTkiIGRhdGEtbmFtZT0iUGF0aCAxODk5IiBjbGFzcz0iY2xzLTEiIGQ9Ik0zNzIuNCwzMi41bC0xMC0xMCwxMC0xMCIvPiAgICA8L2c+ICA8L2c+PC9zdmc+);
				background-position: center left;
				background-size: 23px;
				background-position-x: 8px;
				background-repeat: no-repeat;
				right: 62px;
				transform: translate(-42%, 0);
			}

			&-next {
				background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNi4zIDIzIj4gIDxkZWZzPiAgICA8c3R5bGU+ICAgICAgLmNscy0xIHsgICAgICAgIGZpbGw6IG5vbmU7ICAgICAgICBzdHJva2U6ICMwMDA7ICAgICAgICBzdHJva2UtbGluZWNhcDogcm91bmQ7ICAgICAgICBzdHJva2UtbGluZWpvaW46IHJvdW5kOyAgICAgICAgc3Ryb2tlLW1pdGVybGltaXQ6IDEwOyAgICAgICAgc3Ryb2tlLXdpZHRoOiAzcHg7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPGcgaWQ9Ikdyb3VwXzI4MjAiIGRhdGEtbmFtZT0iR3JvdXAgMjgyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTY3MS41IC0xMSkiPiAgICA8ZyBpZD0iR3JvdXBfMjgxOSIgZGF0YS1uYW1lPSJHcm91cCAyODE5Ij4gICAgICA8ZyBpZD0iR3JvdXBfMjgxOCIgZGF0YS1uYW1lPSJHcm91cCAyODE4Ij4gICAgICAgIDxnIGlkPSJHcm91cF8yODE3IiBkYXRhLW5hbWU9Ikdyb3VwIDI4MTciPiAgICAgICAgICA8bGluZSBpZD0iTGluZV8xNyIgZGF0YS1uYW1lPSJMaW5lIDE3IiBjbGFzcz0iY2xzLTEiIHgxPSIyMy4zIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NzMgMjIuNSkiLz4gICAgICAgIDwvZz4gICAgICAgIDxwYXRoIGlkPSJQYXRoXzE5MDEiIGRhdGEtbmFtZT0iUGF0aCAxOTAxIiBjbGFzcz0iY2xzLTEiIGQ9Ik02ODYuMywzMi41bDEwLTEwLTEwLTEwIi8+ICAgICAgPC9nPiAgICA8L2c+ICA8L2c+PC9zdmc+);
				background-position: center right;
				background-size: 23px;
				background-position-x: 8px;
				background-repeat: no-repeat;
				right: 0;
				transform: translate(-58%, 0);
			}

			&-disabled {
				opacity: 0.3;
			}
		}

		&.--produtos {
			@include carouselProdutos;
		}

		&.--videos {
			@include carouselVideos;
		}
	}
}  