@import 'general/_config';
@import 'sprite-mobile';

.x-footer {
	float: left;
	width: 100%;
	position: relative;
	background: $colorBlack;
	z-index: 2;
	.x-center{
		width: 90%;
		margin: 0 auto;
		display: block;
	}
	&__nav{
		position: relative;
		padding: 25px 0 0;
		margin-bottom: 20px;
		ul{
			width: 100%;
			li{
				a{
					display: block;
					font-size: 19px;
					margin-bottom: 10px;
					color: $colorMain;
					font-family: $fontSupport;
					text-transform: uppercase;
					transition: all linear .3s;
				}
			}
		}
	}
	&__contents{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__item{
		&:last-of-type{
			align-self: flex-end;
			.js--day{
				font-size: 58px;
				color: #FFFFFF;
				text-transform: uppercase;
				font-family: $fontSupport;
			}
			.js--hour{
				font-size: 58px;
				color: $colorMain;
				text-transform: uppercase;
				font-family: $fontSupport;
			}
		}
		&.x-footer-date {
			position: absolute;
			top: 85px;
			left: -58px;
			transform: rotate(-90deg);
		}
		ul{
			display: flex;
			align-items: center;
			width: 100%;
			&:first-of-type{
				li{
					svg{
						width: 55px;
						overflow: hidden;
						height: 36px;
					}
				}
			}
			&:last-of-type{
				li{
					svg{
						width: 39px;
					}
				}
			}
			li{
				display: block;
				margin-bottom: 20px;
				font-size: 12px;
				margin-right: 8px;
				color: $colorWhite;
				text-transform: uppercase;
			}
		}
		p{
			font-size: 12px;
			color: $colorWhite;
			line-height: 1.4;
			display: block;
			margin-bottom: 5px;
		}

		.btn-revendedor {
			color: #fff;
			padding: 10px;
			border: #fff solid 1px;
			border-radius: 4px;
			display: inline-block;
    		margin-bottom: 20px;
		}
	}
	.x-divisor{
		width: 100%;
		display: flex;
		justify-content: space-between;
		span{
			width: calc(100% / 3);
			height: 15px;
			&:nth-child(1){
				background: $colorWhite;
			}
			&:nth-child(2){
				background: #333333;
			}
			&:nth-child(3){
				background: $colorMain;
			}
		}
	}
}