/**
 * Colors
 */
$_black-color:      #000000;
$_white-color:      #ffffff;
$_grey-color-1:     #f7f7f7;
$_grey-color-2:     #8e8e8e;
$_grey-color-3:     #2d2d2d;
$_theme-color-1:    #2c3b4a;

/**
 * Social Media Colors
 */
$_facebook-color:       #526cac !default;
$_google-color:         #d34b37 !default;
$_instagram-color:      #b59174 !default;
$_linkedin-color:       #0286be !default;
$_rss-color:            #f9a600 !default;
$_twitter-color:        #1ebaec !default;
$_youtube-color:        #c42232 !default;

/**
 * Typography
 */
$_font-sans-serif:      sans-serif;
$_font-roboto:          'Roboto', sans-serif;
$_font-playfair:        'Playfair Display', sans-serif;

$_font-size-base:       16px !default;
$_font-size-small:      0.8em !default;
$_font-size-medium:     $_font-size-base;
$_font-size-large:      1.5em !default;

$_font-weight-light:	300 !default;
$_font-weight-base:		400 !default;
$_font-weight-bold:		700 !default;


/**
 * Settings body
 */
$_body-bg:			$_grey-color-1;
$_font-family-base: $_font-roboto;
$_text-color-base:	$_black-color;


/**
 * Breakpoints - Media Queries
 */
$_breakpoints: (
    "xs":   $screen-xs, // 420px
    "sm":   $screen-sm, // 768px
    "md":   $screen-md, // 992px
    "lg":   $screen-lg,  // 1200px
    "hd":   1600px
);


/**
 * Registros dos z-indexes
 * Ordem decrescente
 */
$_z-indexes: ();
