<header class="x-header">
	<div class="x-container">
		<div class="x-container__left">
			<div class="x-container__left-logo">
				<a href="/">
					<img src="/arquivos/logo-kenner-checkout.png" alt="Logo Kenner" width="147" height="17" />
				</a>
			</div>
		</div>
		<div class="x-container__right">
			<div class="x-container__right-security">
				<div class="x-icon">
					<img src="/arquivos/icon-security-checkout.png" alt="Logo Kenner" width="21" height="25" />
				</div>
				<p>Site 100% Seguro</p>
			</div>
		</div>
	</div>
</header>