<footer class="x-footer">
	<div class="x-container">
		<div class="x-container__payments">
			<p>Formas de Pagamento</p>
			<img src="/arquivos/metods-payment.png" alt="Formas de Pagamento" width="177" height="26" />
		</div>
		<div class="x-container__security">
			<p>Selos de Segurança</p>
			<img src="/arquivos/stamps-security.png" alt="Segurança" width="55" height="21" />
		</div>
	</div>
	<div class="x-divisor">
		<span></span>
		<span></span>
		<span></span>
	</div>
</footer>