<div class="x-get-login x-hide">
	<vtex.cmc:welcomeMessage/>
</div>
<div class="x-benefits">
	<div class="x-benefits__center">
		<ul class="x-benefits__list">
			<li class="x-benefits__item"><span class="x-icon"><vtex.cmc:svgBenefitsGarantia /></span> 1 ano de garantia em todos os produtos</li>
		</ul>
	</div>
</div>

<header class="x-header">
	<div class="x-header__contents">
		<div class="x-header__menu">
			<button class="x-header__mobile js--menu-open">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<nav class="x-header__nav">
				<ul>
					<li class="x-header__nav--open">
						<a href="" class="x-header__nav--link">MASCULINO</a>
						<div class="x-header__nav--container">
							<div class="x-header__nav--container-left">
								<ul>
									<li class="x-header__nav--title"><h3>PERFORMANCE</h3></li>
									<li><a href="/k/masculino/performance/m12">Para os Fãs Marcelo M12</a></li>
									<li><a href="/k/masculino/performance/action-gel">Para os Esportistas</a></li>
									<li><a href="/k/masculino/performance/kivah">Para os Fortes</a></li>
									<li><a href="/k/masculino/performance/amp-turbo">Para os Invocados</a></li>
									<li><a href="/k/masculino/performance/rhaco">Para os Aventureiros</a></li>
									<li><a href="/k/masculino/performance">Todos de Performance</a></li>
								</ul>
								<ul>
									<li class="x-header__nav--title"><h3>DESIGN</h3></li>
									<li><a href="/k/masculino/design/kick-s">Para os Inovadores</a></li>
									<li><a href="/k/masculino/design/legend">Para os Autênticos</a></li>
									<li><a href="/k/masculino/design/a-urban">Para os Urbanos</a></li>
									<li><a href="/k/masculino/design">Todos de Design</a></li>
								</ul>
								<ul>
									<li class="x-header__nav--title"><h3>ESSENCIAL</h3></li>
									<li><a href="/k/masculino/essencial/summer">Para os Solares</a></li>
									<li><a href="/k/masculino/essencial/acqua">Para os Aquáticos</a></li>
									<!--<li><a href="/k/masculino/essencial/one">Para os Práticos</a></li>-->
									<li><a href="/k/masculino/essencial/acqua">Todos os Essenciais</a></li>
								</ul>
							</div>
							<div class="x-header__nav--container-right">
								<div class="x-vitrine">
									<div class="x-vitrine__list">
										<vtex:BannerHeader />
									</div>
								</div>
							</div>
						</div>
					</li>
					<li  class="x-header__nav--open">
					    <a href="" class="x-header__nav--link">FEMININO</a>
					   <div class="x-header__nav--container">
							<div class="x-header__nav--container-left">
								<ul>
									<li class="x-header__nav--title"><h3>DESIGN</h3></li>
									<li><a href="/k/feminino/design/kyra">Kyra</a></li>
									<li><a href="/k/feminino/design/shine-glam">Shine Glam</a></li>
									<li><a href="/k/feminino/design">Todos de Design</a></li>
								</ul>
								<ul>
									<li class="x-header__nav--title"><h3>ESSENCIAL</h3></li>
									<li><a href="/k/feminino/essencial/wing-queen">Wing Queen</a></li>
									<li><a href="/k/feminino/essencial/wing-sandal">Wing Sandal</a></li>
									<li><a href="/k/feminino/essencial/wing-mix">Wing Mix</a></li>
									<li><a href="/k/feminino/essencial/ibiza">Ibiza</a></li>
									<li><a href="/k/feminino/essencial/shine">Shine</a></li>
									<li><a href="/k/feminino/essencial">Todos os Essenciais</a></li>
								</ul>
							</div>
							<div class="x-header__nav--container-right">
								<div class="x-vitrine">
									<div class="x-vitrine__list">
										<vtex:bannerheadermulher />
									</div>
								</div>
							</div>
						</div> 
					</li>
					<li  class="x-header__nav--open">
					    <a href="" class="x-header__nav--link">INFANTIL</a>
					    <div class="x-header__nav--container">
							<div class="x-header__nav--container-left">
								<ul>
									<li class="x-header__nav--title"><h3>TAL PAI TAL FILHO</h3></li>
									<li><a href="/k/infantil/tal-pai-tal-filho/summer">Joy Summer</a></li>
									<li><a href="/k/infantil/tal-pai-tal-filho">Todos de Tal pai Tal Filho</a></li>
								</ul>
								<ul>
									<li class="x-header__nav--title"><h3>CONFORTO E PROTEÇÃO</h3></li>
									<li><a href="/k/infantil/conforto-e-protecao/nk5-1">Joy NK5.1</a></li>
									<li><a href="/k/infantil/conforto-e-protecao">Todos de Conforto e Proteção</a></li>
								</ul>
							</div>
							<div class="x-header__nav--container-right">
								<div class="x-vitrine">
									<div class="x-vitrine__list">
										<vtex:bannerheaderinfantil />
									</div>
								</div>
							</div>
						</div>    
					</li>
				</ul>
			</nav>
		</div>
		<div class="x-header__logo">
			<a href="/" title="Kenner">
				<vtex.cmc:svgLogo />
			</a>
		</div>
		<div class="x-header__info">
			<ul>
				<li>
				<div class="x-header__form" style="display: none;">
						<form class="x-form js--header-form">
							<input type="text" placeholder="Buscar" class="js--form-input" />
							<button class="js--form-submit"></button>
						</form>
					</div>
				<button class="js--search-open"><vtex.cmc:svgSearch /></button>
				</li>
				<li><button class="js--login"><vtex.cmc:svgUser /></button></li>
				<li><a href="/account/wishlist" class="js--wishlist"><vtex.cmc:svgWishlist /><i class="js--wishlist-count"></i></a></li>
				<li><button class="js--minicart-open"><vtex.cmc:svgMinicart /><i class="js--minicart-count"></i></button></li>
			</ul>
		</div>
	</div>
	<div class="x-header__navigation js--navigation-menu" style="display: none;">
		<div class="x-header__navigation--container">
			<div class="x-header__navigation--left" style="display:none">
				<ul>
					<li class="x-header__nav--title"><a href="">LANÇAMENTOS</a></li>
					<li class="x-header__nav--title"><a href="">ESPECIAL BK</a></li>
					<li class="x-header__nav--title"><a href="">EDIÇÃO LIMITADA</a></li>
					<li class="x-header__nav--title"><a href="">ULTIMAS UNIDADES</a></li>
					<li class="x-header__nav--title"><a href="">PREÇO ESPECIAL</a></li>
					<li class="x-header__nav--title"><a href="">INDIQUE E GANHE</a></li>
					<li class="x-header__nav--title"><a href="">SELO DE GARANTIA</a></li>
				</ul>
			</div>
			<div class="x-header__navigation--center">
				<ul>
					<li class="x-header__nav--title"><h3>PERFORMANCE</h3></li>
					<li><a href="/k/masculino/performance/m12">Marcelo M12</a></li>
					<li><a href="/k/masculino/performance/action-gel">Action Gel</a></li>
					<li><a href="/k/masculino/performance/kivah">Kivah</a></li>
					<li><a href="/k/masculino/performance/amp-turbo">Amp Turbo</a></li>
					<li><a href="/k/masculino/performance/rhaco">Rhaco</a></li>
					<li><a href="/k/performance">Todos de Performance</a></li>
				</ul>
				<ul>
					<li class="x-header__nav--title"><h3>DESIGN</h3></li>
					<li><a href="/k/masculino/design/kick-s">Kick-S</a></li>
					<li><a href="/k/masculino/design/legend">Legend</a></li>
					<li><a href="/k/feminino/design/kyra">Kyra</a></li>
					<li><a href="/k/feminino/design/shine-glam">Shine Glam</a></li>
					<li><a href="/k/Design">Todos de Design</a></li>
				</ul>
				<ul>
					<li class="x-header__nav--title"><h3>ESSENCIAL</h3></li>
					<li><a href="/k/masculino/essencial/summer">Summer</a></li>
					<li><a href="/k/masculino/essencial/acqua">Acqua</a></li>
					<li><a href="/k/masculino/essencial/one">One</a></li>
					<li><a href="/k/feminino/essencial/wing-queen">Wing Queen</a></li>
					<li><a href="/k/feminino/essencial/wing-sandal">Wing Sandal</a></li>
					<li><a href="/k/feminino/essencial/wing-mix">Wing Mix</a></li>
					<li><a href="/k/feminino/essencial/ibiza">Ibiza</a></li>
					<li><a href="/k/feminino/essencial/shine">Shine</a></li>
					<li><a href="/k/Essencial">Todos os Essenciais</a></li>
				</ul>
			</div>
			<div class="x-header__navigation--right">
				<div class="x-vitrine">
					<div class="x-vitrine__list">
						<vtex:BannerHeader />
					</div>
				</div>
			</div>
		</div>
	</div>
</header>