<div class="x-minicart">
	<div class="x-minicart__group">
		<div class="x-minicart__header">
			<h3>Meu Carrinho Kenner</h3>
			<span class="x-minicart__total"><vtex.cmc:AmountItemsInCart/></span>
			<button class="js--minicart-close"></button>
		</div>
		<div class="x-minicart__products">
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="x-minicart__footer">
			<div class="x-minicart__items">
				<p><span class="js--minicart-items"></span> Kenners</p>
			</div>
			<div class="x-minicart__buy">
				<a href="/checkout" class="e-btn-buy">finalizar compra</a>
			</div>
		</div>
	</div>
</div>