<footer class="x-footer">
	<div class="x-center">
		<nav class="x-footer__nav">
			<ul>
				<li><a href="">Sobre a Kenner</a></li>
				<li><a href="">Selo de Garantia</a></li>
				<li><a href="">Nossas Lojas</a></li>
				<li><a href="">Cátalogo Completo</a></li>
				<li><a href="">Fale Conosco</a></li>
				<li><a href="">Políticas de Uso</a></li>
			</ul>
		</nav>
		<div class="x-footer__contents">
			<div class="x-footer__item">
				<ul>
					<li>Selos de Segurança</li>
					<li><vtex.cmc:svgSeloSeguranca /></li>
				</ul>
				<ul>
					<li>Formas de Pagamento</li>
					<li><vtex.cmc:svgSeloVisa /></li>
					<li><vtex.cmc:svgSeloMasterCard /></li>
					<li><vtex.cmc:svgSeloAmericanExpress /></li>
					<li><vtex.cmc:svgSeloBoleto /></li>
				</ul>
				<p>Brockton Industria e Comercio de Vesturario e Faccoes LTDA.</p>
				<p>Avenida Postal 24, Ramos, Rio de Janeiro \ RJ CEP 2212323-150 - CNPJ: 161526123518</p>
			</div>
			<div class="x-footer__item x-footer-date">
				<span class="js--day"></span>
				<span class="js--hour"></span>
			</div>
		</div>
	</div>
	<div class="x-divisor">
		<span></span>
		<span></span>
		<span></span>
	</div>
</footer>