#set($id = $product.Id)
#set($idSku = $product.productVariantId)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)

<div class="x-product">
    <input type="hidden" class="x-id" value="$id" />
    <input type="hidden" class="x-sku" value="$idSku" />

    <div class="x-image">
        <a title="$escapedName" href="$uri">$product.GetImageTag(400,400)</a>
    </div>

    <div class="x-group">
        #if ($product.IsInStock)
        <div class="x-price">
            <a title="$escapedName" href="$uri">
                <span class="x-bestPrice">
                    $product.BestPrice
                </span>
            </a>                
        </div>
        <div class="x-bottom">
            <div class="x-add">
                <a class="x-add__cart" href="">comprar</a>
            </div> 
        </div>
        #else
        <p class="x-outOfStock">
            <a title="$escapedName" href="$uri">
                <span class="x-text">
                    Produto Esgotado
                </span>
            </a>
        </p>             
        #end
    </div>  
</div>