#set($id = $product.Id)
#set($idSku = $product.productVariantId)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)

<div class="x-product x-category">
    <input type="hidden" class="x-id" value="$id" />
    <input type="hidden" class="x-sku" value="$idSku" />

    <div class="x-wishlist">
        <button class="js--add-wishlist"></button>
    </div>

    <div class="x-image">
        <a title="$escapedName" href="$uri">$product.GetImageTag(400,400)</a>
    </div>

    <div class="x-group">
        <div class="x-name">
            <h2>
                <a title="$escapedName" href="$uri">$product.Name</a>
            </h2>
            <div class="x-category">
                $product.CategoryLink
            </div>
        </div>
        #if ($product.IsInStock)
        <div class="x-price">
            <a title="$escapedName" href="$uri">
                <span class="x-bestPrice">
                    $product.BestPrice
                </span>
                #if ($product.NumbersOfInstallment > 1)
                <span class="e-installment">
                    Ou <span class="e-number"> ${product.NumbersOfInstallment} X</span> de <span class="e-value">$product.InstallmentValue</span>
                </span>
                #end
            </a>                
        </div>
        #else
        <p class="x-outOfStock">
            <a title="$escapedName" href="$uri">
                <span class="x-text">
                    Produto Esgotado
                </span>
            </a>
        </p>             
        #end
    </div>  
</div>