@import 'general/_config';
@import 'general/_breakpoint';

.x-benefits{
	background: #FFFFFF;
	&__center{
		width: 90%;
		display: block;
		margin: 0 auto;
	}
	&__list{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 32px;
	}
	&__item{
		font-size: 12px;
		color: #000000;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		letter-spacing: .2px;
		margin: 0 20px;

		.x-icon{
			margin-right: 10px;
			svg{
				width: 18px;
				height: 18px;
			}
		}
	}
}