.search-multiple-navigator{
	> h3{
		display: none;
	}
	> h4{
		display: none;
	}
	> ul{
		display: none;
	}
	.search-filter-button{
		display: none;
	}
	fieldset{
		width: 100%;
		padding: 30px 10%;
		float: left;
		position: relative;
		@include breakpoint('ultradesktop'){
			padding: 30px 30%;
		}
		h5{
			display: block;
			font-size: 22px;
			color: $colorMain;
			text-transform: uppercase;
			margin-bottom: 15px;
			font-weight: 500;
			font-family: $fontSupport;
			letter-spacing: .7px;
			~ div{
				min-width: 190px; 
				max-width: 190px;
				width: 100%;
				label{
					border: 1px solid transparent;
					&.sr_selected, &:hover{
						border-color: $colorMain;
					}
				}
			}
		}

		label {
			position: relative;

			&.sr_selected::before {
				content: ' ';
				width: 6px;
				height: 15px;
				text-align: center;
				display: inline-block;
				background: #FF5000;
				position: absolute;
				top: 7px;
				left: 0px;
			}
		}

		&.filtro_cor-geral{
			display: none;
		}
		&.filtro_cor{
			width: 100%;
			border-top: #fff solid 1px; //background: #323232;
			div{
				display: grid; 
				grid-template-columns: auto auto auto auto;
				width: 100%;
				input{
					display: none;
				}
				label{
					width: 31px;
					height: 31px;
					border: 1px solid $colorWhite;
					cursor: pointer;
					border-radius: 2px;
					background: transparent;
					font-size: 0;
					margin-bottom: 10px;
					
					&:nth-child(4n+0){
						margin-right: 0;
					}
					&.sr_verde{
						background: #31FF00;
					}
					&.sr_vermelha, &.sr_vermelho{
						background: #FF0000;
					}
					&.sr_laranja{
						background: #FF5000;
					}
					&.sr_preta{
						background: #000000;
					}
					&.sr_azul{
						background: #0066FF;
					}
					&.sr_amarela{
						background: #FFDA00;
					}
					&.sr_branca{
						background: #FFFFFF;
					}	
					&.sr_rosa{
						background: #E200FF;
					}
					&.sr_vinho{
						background: #5E003C;
					}
					&.sr_marrom{
						background: #663333;
					}
					&.sr_azul-marinho{
						background: #000066;
					}
					&.sr_azul-marinho{
						background: #000066;
					}
					&.sr_caqui{
						background: #C49A6C;
					}
					&.sr_mostarda{
						background: #E2A700;
					}
					&.sr_azul-mint{
						background: #99FFCC;
					}
					&.sr_grafite{
						background: #333333;
					}
					&.sr_cinza{
						background: #666666;
					}
					&.sr_roxa{
						background: #6600CC;
					}
					&.sr_crepe{

					}
					&.sr_azul-bic{

					}
					&.sr_azul-jeans{
						
					}
					&.sr_telha{
						background: #660000;
					}
					&.sr_coral{
						background: #990000;
					}
					&.sr_caramelo{
						background: #CC9999;
					}
					&.sr_verde-militar{

					}
					&.sr_dourada{
						background: rgb(251,214,83);
						background: linear-gradient(90deg, rgba(251,214,83,1) 0%, rgba(255,188,116,1) 22%, rgba(201,143,52,1) 50%, rgba(255,188,116,1) 76%, rgba(255,191,121,1) 100%);
					}
					&.sr_tropicalia{

					}
					&.sr_folhas{

					}
					&.sr_rosa-cereja{

					}
					&.sr_salmao{
						background: #FF6550;	
					}
					&.sr_off-white{
						background: #FFFFFF;
					}
					
				}
			}
		}
		&.filtro_tamanho{
			width: 100%;
			border-top: #fff solid 1px; //background: #181818;
			div{
				display: grid;
    			grid-template-columns: auto auto auto;
				width: 100%;
				input{
					display: none;
				}
				label{
					width: 45px;
					height: 31px;
					border: 1px solid transparent;
					cursor: pointer;
					border-radius: 2px;
					background: #FFFFFF;
					letter-spacing: 1px;
					margin-bottom: 10px;
					color: #707070; 
					text-align: center;
					font-size: 14px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 300; 
					&:nth-child(4n+0){
						margin-right: 0;
					}
					&.sr_selected, &:hover{
						border-color: $colorMain;
					}
				}
			}
		}

		&.filtro_faixa-de-preco{
			width: 100%;
			border-top: #fff solid 1px; //background: #181818;
			div{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				width: 100%;
				max-width: 100%;
				input{ 
					display: none;
				}
				label{
					height: 31px;
					padding: 0 5px;
					border: 1px solid transparent;
					cursor: pointer;
					border-radius: 2px;
					background: #FFFFFF;
					letter-spacing: 1px;
					margin-right: 10px;
					margin-bottom: 10px;
					color: #707070; 
					text-align: center;
					font-size: 1vw;
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 300; 
					text-transform: uppercase;

					&:nth-child(4n+0){
						margin-right: 0;
					}
					&.sr_selected, &:hover{
						border-color: $colorMain;
					}
				}
			}
		}

		&.filtro_range_preco{
			width: 100%;
			background: #000000;
			.x-slider--price{
				.noUi-handle-lower{
					background: $colorMain;
					cursor: pointer;
				}
				.noUi-handle-upper{
					background: $colorMain;
					cursor: pointer;
				}
				.noUi-connect{
					background: #FFFFFF;
				}
				.x-slider__qty-group{
					width: 100%;
					position: relative;
					margin-top: 10px;
					float: left;
					.x-slider__qty--start{
						float: left;
						font-size: 12px;
						color: $colorWhite;
						font-weight: 700;
						letter-spacing: 1px;
					}
					.x-slider__qty--end{
						float: right;
						font-size: 12px;
						color: $colorWhite;
						font-weight: 700;
						letter-spacing: 1px;
					}
				}
				.x-slider__btn{
					width: 100%;
					position: relative;
					display: inline-block;
					color: $colorMain;
					font-weight: bolder;
					text-transform: uppercase;
					margin-top: 10px;
					transition: all linear .4s;
					cursor: pointer;
					font-family: $fontCondensed;
					letter-spacing: .5px;
					&:hover{
						color: $colorMain;
					}
				}
			}
		}
		&.filtro_linhas{
			div{
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				label{
					display: block;
					font-size: 12px;
					color: #FFFFFF;
					margin-bottom: 10px;
					letter-spacing: .5px;
					height: 10px;

					&:hover {
						text-decoration: underline;
						cursor: pointer;
						border: none;
					}

					input{
						display: none;
					}
				}
			}
		}
	}
}
.search-single-navigator{
	h3{
		display: block;
		width: 100%;
		padding: 30px 20% 0;
		a{
			display: block;
			font-size: 22px;
			color: $colorMain;
			text-transform: uppercase;
			margin-bottom: 15px;
			font-weight: 500;
			font-family: $fontSupport;
			letter-spacing: .7px;
		}
	}
	ul{
		display: block;
		width: 100%;
		padding: 30px 20% 0;
		li{
			display: block;
			margin-bottom: 10px;
			a{
				color: $colorWhite;
				font-size: 16px;
			}
		}
	}
}