.x-banner{
	&__list{
		.slick-list{
			float: left;
			width: 100%;
			position: relative;
			overflow: hidden;
		}
	}
	&__item{
		float: left;
		opacity: 0;
		visibility: hidden;
		.box-banner{
			float: left;
			width: 100%;
		}
		&.slick-slide{
			opacity: 1;
			visibility: visible;
		}
		
	}
}

.x-vitrine{
	&__carousel{
		.slick-list{
			float: left;
			width: 100%;
			position: relative;
			overflow: hidden;
		}
		ul{
			li{
				float: left;
				opacity: 0;
				visibility: hidden;
				&.slick-slide{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}