@import 'general/_config';
@import 'general/_breakpoint';

#vtexIdContainer{
	position: fixed !important;

	.vtexIdUI{
		box-shadow: none;
		border: none;

		@include breakpoint('mobile'){
			top: 20%;
		}

		&-main-content{
			#vtexIdUI-auth-selector,
			#vtexIdUI-email-confirmation,
			#vtexIdUI-classic-login,
			#vtexIdUI-change-pswd {
				.modal-header{
					background: $colorBlack;
					font-size: 12px;
					color: $colorWhite;
					font-family: $font;
					text-align: center;
					padding-top: 15px;
					.vtexIdUI-close{
						background: $colorMain;
						color: $colorBlack;
						right: 0;
						top: 0;
						cursor: pointer;
					}
				}
				.modal-body{ 
					.dead-link{
						color: $colorBlack;
					}
					.vtexIdUI-providers-list{
						li{
							button{
								border-radius: 20px;
								border: none;
								text-shadow: none;
								box-shadow: none;
								cursor: pointer;
								background-image: none;
								span{
									text-transform: uppercase;
									font-size: 14px;
									font-family: $font;
								}
								i{
									display: none;
								}
								&.vtexIdUI-send-email{
									background: $colorMain;
									color: #ffffff;
								}
								&.vtexIdUI-others-send-email{
									background: $colorBlack;
									color: $colorWhite;
								}
							}
						} 
					}
				} 
				.modal-footer{
					background: none;
					.vtexIdUI-back-link, .dead-link {
						color: $colorBlack;
					}

					#sendAccessKeyBtn,
					#classicLoginBtn,
					.btn-large {
						border-radius: 20px;
						border: none;
						text-shadow: none;
						box-shadow: none;
						cursor: pointer;
						background-image: none;
						background: $colorMain;
						color: #ffffff;
					}
				}
			}
		}
	}
}