@import 'general/_config';
@import 'sprite';

.x-footer {
	float: left;
	width: 100%;
	position: relative;
	background: $colorBlack;
	z-index: 2;
	border-top: #ff5000 solid 10px;

	.x-center{
		width: 90%;
		margin: 0 auto;
		display: block;
	}
	&__nav{
		float: left;
		width: 100%;
		position: relative;
		padding: 20px 0 0;
		margin-bottom: 50px;
		ul{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			li{
				a{
					display: block;
					font-size: 18px;
					color: $colorMain;
					font-family: $fontSupport;
					text-transform: uppercase;
					transition: all linear .3s;
					&:after{
						content: '';
						width: 0;
						transition: all linear .3s;
						height: 3px;
						margin-top: 5px;
						display: block;
						background: $colorMain;
					}
					&:hover{
						color: $colorWhite;
						&:after{
							width: 100%;
						}
					}
				}
			}
		}
	}
	&__contents{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__item{
		&:last-of-type{
			width: 100%;
			display: flex;
			flex-flow: wrap; 

			.js--day{
				font-size: 81px;
				color: #FFFFFF;
				text-transform: uppercase;
				font-family: $fontSupport;
			}
			.js--hour{
				font-size: 81px;
				color: $colorMain;
				text-transform: uppercase;
				font-family: $fontSupport;
			}
		}
		ul{
			display: flex;
			align-items: center;

			&:first-of-type{
				margin-right: 20px;
				li{
					&:first-of-type{
						margin-right: 20px;
					}
					svg{
						width: 55px;
						overflow: hidden;
						height: 36px;
					}
				}
			}
			&:last-of-type{
				li{
					svg{
						width: 39px;
					}

					&:last-of-type{ 
						margin-left: 50px;
					}
				}
			}
			li{
				display: block;
				margin-bottom: 20px;
				font-size: 12px;
				margin-right: 10px;
				color: $colorWhite;
				text-transform: uppercase;
				&:first-of-type{
					margin-right: 20px;
				}
			}

			.btn-revendedor {
				color: #fff;
				padding: 10px;
				border: #fff solid 1px;
				border-radius: 4px;
			}
		}
		p{
			font-size: 12px;
			color: $colorWhite;
			display: block;
			margin-bottom: 10px;
		}

		.-address {
			margin-top: 20px;
			margin-bottom: 10px;
		}
	}
	.x-divisor{
		width: 100%;
		display: flex;
		justify-content: space-between;
		span{
			width: calc(100% / 3);
			height: 22px;
			&:nth-child(1){
				background: $colorWhite;
			}
			&:nth-child(2){
				background: #333333;
			}
			&:nth-child(3){
				background: $colorMain;
			}
		}
	}
}