@import 'general/_config';
@import 'general/_breakpoint';
@import 'components/_benefits';
@import 'components/_minicart';
@import 'components/_search';
@import 'sprite';

.x-header {
	width: 100%;
	float: left;
	position: relative;
	background: $colorBlack;

	&__contents{
		@include display-flex();
		align-items: center;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
		height: 45px;
	}

	&__menu{
		width: 35%;
		@include display-flex();
		align-items: center;
		height: 100%;
	}

	&__mobile{
		margin-right: 43px;
		transition: all ease-in-out .3s;
		cursor: pointer;
		position: relative;
		&.is--active{
			transition: all ease-in-out .3s;
			bottom: 3px;
			span{
				//width: 23px;
				&:nth-child(1){
					transform: rotate(45deg);
					top: 8px;
				}
				&:nth-child(2){
					opacity: 0;
					height: 0;
					visibility: hidden;
				}
				&:nth-child(3){
					transform: rotate(-45deg);
				}
			}
		}
		span{
			width: 21.32px;
			height: 4px;
			display: block;
			margin-bottom: 4px;
			border-radius: 2px;
			background: $colorMain;
			transition: all ease-in-out .3s;
			position: relative;
		}
	}

	&__nav{
		height: 100%;
		align-self: center;
		> ul{
			width: 100%;
			@include display-flex();
			align-items: center;
			height: 100%;
			> li{
				height: 100%;
				transition: all linear .3s;
				&:hover{
					background: $colorMain;
					.x-header__nav--link{
						background: $colorMain;
						color: $colorBlack;
						font-family: $fontSupport;
						font-size: 16px;
					}
				}
				
			}
		}
		&--link{
			color: $colorMain;
			font-family: $fontSupport;
			text-transform: uppercase;
			font-size: 14px;
			display: block;
			letter-spacing: .7px;
			height: 100%;
			line-height: 48px;
			padding: 0 20px;
			transition: all linear .3s;
			min-width: 125px;
			text-align: center;
			&:hover{
				background: $colorMain;
				color: $colorBlack;
				font-family: $fontSupport;
				font-size: 16px;
			}
		}
		&--open{
			&:hover{
				.x-header__nav--container{
					max-height: 475px;
					height: auto;
					-webkit-transition: max-height 0.8s;
					-moz-transition: max-height 0.8s;
					transition: max-height 0.8s;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&--container{
			position: absolute;
			top: 45px;
			width: 80%;
			left: 10%;
			right: 10%;
			z-index: 10;
			background: $colorWhite;
			padding: 35px 5%;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			overflow: hidden;
			max-height: 0;
			-webkit-transition: max-height 1.2s;
			-moz-transition: max-height 1.2s;
			transition: max-height 1.2s;
			display: flex;
			@include breakpoint('ultradesktop'){
				width: 83%;
				left: 8.3%;
			}
			&-left{
				width: 65%;
				border-right: 2px solid #FFC9B1;
				display: flex;
				justif-content: space-between;
				ul{
					width: 31%;
					li{
						display: block;
						margin-bottom: 20px;
						a{
							color: $colorBlack;
							font-size: 14px;
							transition: all ease-in-out .3s;
							&:hover{
								color: $colorMain;
							}
						}
					}
				}
			}
			&-right{
				width: 35%;
				align-self: center;
				.box-banner{
					width: 100%;
					float: left;
					position: relative;
					img{
						width: 100%;
						display: block;
						height: auto;
						padding-left: 30px;
					}
				}
			}
		}
		&--title{
			font-size: 18px;
			color: $colorBlack;
			text-transform: uppercase;
			display: block;
			margin-bottom: 25px;
			font-family: $fontSupport;
			a{
				color: $colorBlack !important;
				text-align: left !important;
				line-height: 1.4 !important;
				padding: 0 !important;
				font-size: 18px !important;
				&:hover{
					background: none !important;
				}
			}
			&:hover{
				background: none !important;
				color: $colorBlack;
			}
		}
	}

	&__logo{
		width: 30%;
		text-align: center;
		a{
			display: block;
			margin: 0 auto;
			position: relative;
			left: 20px;
			svg{
				width: 146px;
			}
		}
	}

	&__info{
		width: 35%;
		height: 100%;
		position: relative;
		ul{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 100%;
			li{
				//margin-right: 30px;
				padding: 0 15px;
				height: 100%;
				display: flex;
				align-items: center;
				position: relative;
				transition: all ease-in-out .3s;
				&:last-of-type{
					margin-right: 0;
				}
				&.is--open{
					width: 100%;
				}
				&.is--active{
					background-color: $colorMain;
					transition: all ease-in-out .3s;
					svg{
						filter: brightness(0) invert(1);
					}
				}
				svg{
					width: 18px;
				}
				button{
					cursor: pointer;
					position: relative;
					transition: all ease-in-out .3s;
					height: 100%;
					.js--minicart-count{
						width: 15px;
						height: 15px;
						line-height: 18px;
						background: #FFFFFF;
						position: absolute;
						right: -12px;
						top: 4px;
						border-radius: 100%;
						font-size: 12px;
						color: $colorBlack;
						text-align: center;
						font-family: $fontSupport;
					}
				}
				.js--wishlist-count{
					width: 15px;
					height: 15px;
					line-height: 18px;
					background: #FFFFFF;
					position: absolute;
					right: 4px;
					top: 4px;
					border-radius: 100%;
					font-size: 12px;
					color: $colorBlack;
					text-align: center;
					font-family: $fontSupport;
				}
			}
		}
	}

	&__navigation{
		position: absolute;
		top: 45px;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 19;
		background: $colorWhite;
		padding: 35px 5%;
		&--container{
			width: 100%;
			display: flex;
			flex-flow: row;
		}
		&--left{
			width: 20%;
			border-right: 2px solid #FFC9B1;
			ul{
				li{
					margin-bottom: 25px;
					a{
						transition: all ease-in-out .3s;
						&:hover{
							color: $colorMain !important;
						}
					}
				}
			}
		}
		&--center{
			width: 53%;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			border-right: 2px solid #FFC9B1;
			padding: 0 10px;
			ul{
				padding: 0 10px;

				li{
					display: block;
					margin-bottom: 20px;
					a{
						color: $colorBlack;
						font-size: 14px;
						transition: all ease-in-out .3s;
						&:hover{
							color: $colorMain;
						}
					}
				}
			}
		}
		&--right{
			width: 27%;
			align-self: center;
			.box-banner{
				width: 100%;
				float: left;
				position: relative;
				img{
					width: 100%;
					display: block;
					height: auto;
					padding-left: 20px;
				}
			}
		}
	}

	&__form{
		position: relative;
		width: 100%;
		form{
			width: 100%;
			input{
				background: $colorMain;
				color: $colorBlack;
				font-size: 18px;
				height: 35px;
				line-height: 33px;
				padding-left: 25px;
				border-radius: 20px;
				font-family: $fontSupport;
				text-transform: uppercase;
				width: 100%;
				display: block;
			}
			button{
				background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOS43IDE5LjYiPiAgPHBhdGggaWQ9Imljb24tYnVzY2EiIGQ9Ik03OS41LDBoMS43Yy4xLDAsLjIuMS4zLjFhNy4xMTYsNy4xMTYsMCwwLDEsNS43LDUuMSwzLjU1MywzLjU1MywwLDAsMSwuMiwxVjcuOWMwLC4xLS4xLjEtLjEuMmE2Ljk1MSw2Ljk1MSwwLDAsMS05LjcsNS4zYy0uMy0uMS0uNC0uMS0uNi4xLTEuNywxLjctMy4zLDMuNC01LDUtLjUuNC0xLC43LTEuNiwxLjFoLS45YTIuNywyLjcsMCwwLDEtMS44LTEuOFYxN2MuNC0uNS43LTEuMSwxLjEtMS42LDEuNi0xLjcsMy4zLTMuMyw0LjktNC45YS42NTMuNjUzLDAsMCwwLC4yLS44QTcuMDcxLDcuMDcxLDAsMCwxLDc4LjUuMmEyLjk1OSwyLjk1OSwwLDAsMCwxLS4ybS45LDIuOUE0LjEsNC4xLDAsMSwwLDg0LjUsN2E0LjI1Niw0LjI1NiwwLDAsMC00LjEtNC4xIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNjcuNzAxKSIvPjwvc3ZnPg==);
				background-position: center;
				background-size: 19px;
				background-repeat: no-repeat;
				width: 19px;
				height: 19px !important;
				position: absolute !important;
				right: 10px;
				top: 8px;
				cursor: pointer;
			}
		}
	}
}