body {
	font-family: $_font-family-base;
	font-size: $_font-size-base;

	background-color: $_body-bg;
	color: $_text-color-base;

	line-height: 1.2;
}

.x-main-header,
.x-main-body,
.x-main-footer {
    &__container {
        width: 100%;
        margin: auto;
    }
}
